# MyBot.run AUTOIT .gitignore file

# Global Files
/.project
*.ini
*.log
*.orig
*.png
*.jpg
*.bmp
*.zip

# Global Folders
[Pp]rofiles/
[Tt]emplates/
[Tt]emp/
[Bb]ackup/

# Obsolete Files and Folders
[Ll]oots/
[Aa]llTowns/

# Exclusion Curl (used for PushBullet)
![Cc]url.exe

# Exclusion build
![Bb]uild/**

# Exclusion language ini files
![Ll]anguages/*.ini

# Exclusion Images/Icon
![Ii]mages/*
![Ss]trategies/*.ini

#imgloc transition
![Ii]mgxml/*

# ignore test strategies
[Ss]trategies/[Tt]est*.ini
[Ss]trategies/[Ss]trategy 2016*.ini
# ignore csv test scripts
CSV/Attack/[Tt]est*.csv
CSV/THsnipe/[Tt]est*.csv

#Sam Mod image
!COCBot/SamM0d/[Ii]mages/*
!MyBot.run.exe
!MyBot.run.Watchdog.exe
!MyBot.run.Wmi.exe
![Ll]ib/*

# Debug
[Ll]ib/[Dd]ebug/
[Ll]ib/[Tt]est.txt
EnableMBRDebug.txt
ImgLocDebug.txt

# SQL (not in use)
*.sqlite3
*.db

# Release files
LastVersion*.txt
TestVersion*.txt
*_stripped.au3
